{% assign author = site.authors | where: 'author_id', post.author_id | first %}
<li class="tk-news-article">
    <div class="list_inner">
        <div class="image">
            <img src="{{post.post_image | relative_url}}" alt="{{post.title}}" />
            <div class="main" data-img-url="{{post.post_image | relative_url}}"></div>
            <a class="tokyo_tm_full_link" href="{{post.url | relative_url}}"></a>
        </div>
        <div class="details">
            <div class="extra">
                <div class="short">
                    <!-- <p class="date">{{post.tags }} <span>{{post.date | date: '%d %B %Y'}}</span></p> -->
                    <p class="date">{{post.tags }}</p>
                </div>
            </div>
            <h3 class="title"><a href="{{post.url | relative_url}}">{{post.title}}</a></h3>
            <div class="tokyo_tm_read_more">
                <a href="{{post.url | relative_url}}"><span>Read More</span></a>
            </div>
        </div>
        <div class="main_content">
            <div class="descriptions typofix">
                {{post.content}}
            </div>
        </div>
    </div>
</li>