<!-- LEFTPART -->
<div class="leftpart">
    <div class="leftpart_inner">
        <div class="logo">
            <h3><span>J.V.</span></h3>
            <!--<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="jayson-valentino" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://ae.linkedin.com/in/jayson-valentino?trk=profile-badge">Jayson Valentino</a></div>-->
            <!-- <a href="/">
                <img class="logo-dark" src="{{'/assets/img/logo/dark.png' | relative_url}}" alt="{{site.title}}" />
                <img class="logo-light" src="{{'/assets/img/logo/logo.png' | relative_url}}" alt="{{site.title}}" />
            </a> -->
        </div>
        <div class="menu">
            <ul>
                {% assign x = 0 %}
                {% for navigation in site.data.navigation %}
                    {% assign x = x | plus:1 %}
                    <li {% if x == 1% %} class="active" {% endif %}><a href="#{{navigation.url}}">{{navigation.text}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="copyright">
            <p>&copy; <script>document.write(new Date().getFullYear())</script> {{site.title}}<br><a href="https://jayson-valentino.github.io"
                    target="_blank">Github</a></p>
        </div>
    </div>
</div>
<!-- /LEFTPART -->
